body {
    background: #000;
    overflow: overlay;

  }
  
  #stars,
  #stars2,
  #stars3,
  #stars4,
  #stars5,
  #stars6,
  #stars7 {
    width: 1px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  #stars {
    opacity: .8;
    -webkit-animation: animStar 50s infinite;
    -moz-animation: animStar 50s infinite;
    -ms-animation: animStar 50s infinite;
    -o-animation: animStar 50s infinite;
    animation: animStar 50s infinite;
  }
  
  #stars2 {
    opacity: .8;
    -webkit-animation: animStar 100s infinite;
    -moz-animation: animStar 100s infinite;
    -ms-animation: animStar 100s infinite;
    -o-animation: animStar 100s infinite;
    animation: animStar 100s infinite;
  }
  
  #stars3 {
    opacity: .8;
    -webkit-animation: animStar 150s infinite;
    -moz-animation: animStar 150s infinite;
    -ms-animation: animStar 150s infinite;
    -o-animation: animStar 150s infinite;
    animation: animStar 150s infinite;
  }
  
    #stars4 {
        opacity: .8;
        -webkit-animation: animStar 100s infinite;
        -moz-animation: animStar 100s infinite;
        -ms-animation: animStar 100s infinite;
        -o-animation: animStar 100s infinite;
        animation: animStar 100s infinite;
    }

    #stars5 {
        opacity: .8;
        -webkit-animation: animStar 150s infinite;
        -moz-animation: animStar 150s infinite;
        -ms-animation: animStar 150s infinite;
        -o-animation: animStar 150s infinite;
        animation: animStar 150s infinite;
    }

    #stars6 {
        opacity: .85;
        -webkit-animation: animStar 250s infinite;
        -moz-animation: animStar 250s infinite;
        -ms-animation: animStar 250s infinite;
        -o-animation: animStar 250s infinite;
        animation: animStar 250s infinite;
    }

    #stars7 {
        opacity: .825;
        -webkit-animation: animStar 350s infinite;
        -moz-animation: animStar 350s infinite;
        -ms-animation: animStar 350s infinite;
        -o-animation: animStar 350s infinite;
        animation: animStar 350s infinite;
    }
  @-webkit-keyframes animStar {
    from {
      -webkit-transform: translate(0, 0);
    }
    to {
      -webkit-transform: translate(100vw, 100vh);
    }
  }
  
  @-moz-keyframes animStar {
    from {
      -moz-transform: translate(0, 0);
    }
    to {
      -moz-transform: translate(100vw, 100vh);
    }
  }
  
  @-ms-keyframes animStar {
    from {
      -ms-transform: translate(0, 0);
    }
    to {
      -ms-transform: translate(100vw, 100vh);
    }
  }
  
  @-o-keyframes animStar {
    from {
      -o-transform: translate(0, 0);
    }
    to {
      -o-transform: translate(100vw, 100vh);
    }
  }
  
  @keyframes animStar {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(100vw, 100vh);
    }
  }
  body::-webkit-scrollbar {
    width: 0.7em;
    background: transparent ;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 10px;
  
  }
  
  body::-webkit-scrollbar-track-piece
  {
     display:none;
  }

